@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Esse é um desafio de projeto feito utilizando o ASP.NET MVC e o Entity Framework. </p>
    <p> O desafio proposto é criar uma lista de tarefa realizando as quatro operações possiveis dentro de um CRUD. </p>
</div>
